.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffce04;
  text-align: center;
}

.email-input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.login-button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #615a5a;
}

.error-message {
  color: red;
  margin-top: 10px;
}
